* {
  color: #333;
  margin: 0;
  padding: 0;

  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

a:visited {
  color: #333;
}
a:link {
  color: #333;
}
a:hover {
  color: #444;
}
a:active {
  color: #555;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

.flex-container {
  display: flex;
}
